<h3>This is the secret page!!!</h3>

<p>You discovered me, oops</p>

<img src='https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ2BH9lVOj89NMjPUy-tTZ-pAApcmoN-TyeoENDxw40JlNa-_ShGLvvQg'>


<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>
