 .flex-container {
  padding: 0;
  margin: 10px auto;
  width: 100%;
  display: flex;
  -webkit-flex-flow: row wrap;
	justify-content: space-around;
}

.flex-item {
  background:tomato;
  padding: 20px;
  width: 300px;
  margin: 25px 10px;
  line-height: 20px;
  font-size: 0.9em;
  text-align: center;
  border: 1px solid rgba(20,20,20,0.75);
  border-radius: 10px;
}

.attendance {
	background: #FFC125;
}

.userAttendance {
	background: #698B22;
}
